[Unit]
Description=Run GNOME Terminal theme switcher regularly

[Timer]
OnStartupSec=30s
OnUnitActiveSec=5min
Persistent=true
Unit=gnome-terminal-theme.service

[Install]
WantedBy=timers.target
